{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% for row in rows %}
  {% set row_classes = 'thumbs-medium-column' %}

  {% if loop.index == 2 %}
    <div class="thumbs-photo">
  {% elseif loop.index == 4 %}
    {% set row_classes = 'thumbs-medium-column last' %}
  {% endif %}

  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>

  {% if loop.index == 4 %}
    </div>
  {% endif %}
{% endfor %}
