{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{# Title #}
{{ fields.title.separator }}
{%- if fields.title.wrapper_element -%}
    <{{ fields.title.wrapper_element }}{{ fields.title.wrapper_attributes }}>
{%- endif %}
{%- if fields.title.label -%}
    {%- if fields.title.label_element -%}
        <{{ fields.title.label_element }}{{ fields.title.label_attributes }}>{{ fields.title.label }}{{ fields.title.label_suffix }}</{{ fields.title.label_element }}>
    {%- else -%}
        {{ fields.title.label }}{{ fields.title.label_suffix }}
    {%- endif %}
{%- endif %}
{%- if fields.title.element_type -%}
    <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>{{ fields.title.content }}</{{ fields.title.element_type }}>
{%- else -%}
    {{ fields.title.content }}
{%- endif %}
{%- if fields.title.wrapper_element -%}
    </{{ fields.title.wrapper_element }}>
{%- endif %}

<div class="part-left full-width-col-mobile grey-dark4">
    {# Body #}
    {{ fields.field_article_body.separator }}
    {%- if fields.field_article_body.wrapper_element -%}
        <{{ fields.field_article_body.wrapper_element }}{{ fields.field_article_body.wrapper_attributes }}>
    {%- endif %}
    {%- if fields.field_article_body.label -%}
    {%- if fields.field_article_body.label_element -%}
    <{{ fields.field_article_body.label_element }}{{ fields.field_article_body.label_attributes }}>{{ fields.field_article_body.label }}{{ fields.field_article_body.label_suffix }}</{{ fields.field_article_body.label_element }}>
    {%- else -%}
        {{ fields.field_article_body.label }}{{ fields.field_article_body.label_suffix }}
        {%- endif %}
    {%- endif %}
    {%- if fields.field_article_body.element_type -%}
        <{{ fields.field_article_body.element_type }}{{ fields.field_article_body.element_attributes }}>{{ fields.field_article_body.content }}</{{ fields.field_article_body.element_type }}>
    {%- else -%}
        {{ fields.field_article_body.content }}
    {%- endif %}
    {%- if fields.field_article_body.wrapper_element -%}
        </{{ fields.field_article_body.wrapper_element }}>
    {%- endif %}

    {# Publication date #}
    {{ fields.field_article_publication_date.separator }}
    {%- if fields.field_article_publication_date.wrapper_element -%}
        <{{ fields.field_article_publication_date.wrapper_element }}{{ fields.field_article_publication_date.wrapper_attributes }}>
    {%- endif %}
    {%- if fields.field_article_publication_date.label -%}
        {%- if fields.field_article_publication_date.label_element -%}
            <{{ fields.field_article_publication_date.label_element }}{{ fields.field_article_publication_date.label_attributes }}>{{ fields.field_article_publication_date.label }}{{ fields.field_article_publication_date.label_suffix }}</{{ fields.field_article_publication_date.label_element }}>
        {%- else -%}
            {{ fields.field_article_publication_date.label }}{{ fields.field_article_publication_date.label_suffix }}
        {%- endif %}
    {%- endif %}
    {%- if fields.field_article_publication_date.element_type -%}
        <{{ fields.field_article_publication_date.element_type }}{{ fields.field_article_publication_date.element_attributes }}>{{ fields.field_article_publication_date.content }}</{{ fields.field_article_publication_date.element_type }}>
    {%- else -%}
        {{ fields.field_article_publication_date.content }}
    {%- endif %}
    {%- if fields.field_article_publication_date.wrapper_element -%}
        </{{ fields.field_article_publication_date.wrapper_element }}>
    {%- endif %}

    {# Related stories #}
    {{ fields.field_artcile_related_stories.separator }}
    {%- if fields.field_artcile_related_stories.wrapper_element -%}
        <{{ fields.field_artcile_related_stories.wrapper_element }}{{ fields.field_artcile_related_stories.wrapper_attributes }}>
    {%- endif %}
    {%- if fields.field_artcile_related_stories.label -%}
        {%- if fields.field_artcile_related_stories.label_element -%}
            <{{ fields.field_artcile_related_stories.label_element }}{{ fields.field_artcile_related_stories.label_attributes }}>{{ 'Related News'|t }}{{ fields.field_artcile_related_stories.label_suffix }}</{{ fields.field_artcile_related_stories.label_element }}>
        {%- else -%}
            {{ fields.field_artcile_related_stories.label }}{{ fields.field_artcile_related_stories.label_suffix }}
        {%- endif %}
    {%- endif %}
    {%- if fields.field_artcile_related_stories.element_type -%}
        <{{ fields.field_artcile_related_stories.element_type }}{{ fields.field_artcile_related_stories.element_attributes }}>{{ fields.field_artcile_related_stories.content }}</{{ fields.field_artcile_related_stories.element_type }}>
    {%- else -%}
        {{ fields.field_artcile_related_stories.content }}
    {%- endif %}
    {%- if fields.field_artcile_related_stories.wrapper_element -%}
        </{{ fields.field_artcile_related_stories.wrapper_element }}>
    {%- endif %}
</div>


{# Image #}
{{ fields.field_article_main_image.separator }}
{%- if fields.field_article_main_image.wrapper_element -%}
    <{{ fields.field_article_main_image.wrapper_element }}{{ fields.field_article_main_image.wrapper_attributes }}>
{%- endif %}
{%- if fields.field_article_main_image.label -%}
    {%- if fields.field_article_main_image.label_element -%}
        <{{ fields.field_article_main_image.label_element }}{{ fields.field_article_main_image.label_attributes }}>{{ fields.field_article_main_image.label }}{{ fields.field_article_main_image.label_suffix }}</{{ fields.field_article_main_image.label_element }}>
    {%- else -%}
        {{ fields.field_article_main_image.label }}{{ fields.field_article_main_image.label_suffix }}
    {%- endif %}
{%- endif %}
{%- if fields.field_article_main_image.element_type -%}
    <{{ fields.field_article_main_image.element_type }}{{ fields.field_article_main_image.element_attributes }}>{{ fields.field_article_main_image.content }}</{{ fields.field_article_main_image.element_type }}>
{%- else -%}
    {{ fields.field_article_main_image.content }}
{%- endif %}
{%- if fields.field_article_main_image.wrapper_element -%}
    </{{ fields.field_article_main_image.wrapper_element }}>
{%- endif %}
