{#
  Template for twitter feed widget.
#}

<div class="one-col last-col noTopMargin-col">
  <div class="box box-tolo-twitter hidden-onmobile  hidden-ontablets">
    <div class="container-top-post no-margin line line-blue clearfix">
      <h3 class="titleBlock blue1 uppercase-txt">
        {{'Twitter feed'|t }}
      </h3>
      <a class="grey-light5 grey-light4 view-all-post" href="https://twitter.com/TOLOnews" target="_blank" title="Tolonews">
        @Tolonews
      </a>
    </div>
    <div class="twitter-feed">
      <a class="twitter-timeline" data-border-color="#e9e9e9" data-chrome="nofooter noscrollbar  transparent noheader " data-link-color="#43adef" data-show-replies="false" data-src="false" data-theme="light" data-tweet-limit="4" data-widget-id="673826742377803776" href="https://twitter.com/TOLOnews">Tweets de @TOLOnews</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="centered follow-tolo">
        <a class="blue1" data-show-count="false" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2F127.0.0.1%2Ftolonewsfinal%2Fpage-section.php&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=TOLOnews&amp;tw_p=followbutton" target="back">
          <span>{{ 'Follow @TOLOnews'|t }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
