<div class="entry-blog-meta">
    <ul class="share-buttons social-media text-dark">
        {#ToDo: Comment should scroll to discus block.#}
        <li class="comments"><a href="#scrol_to"
                                title="Comment"> {{ comments_count }} {{ 'Comments'|t }}</a>
        </li>
        <li class="list-icons">
            <ul class="first list-social">
                <li><span class='share-btn st_facebook_large'
                          displayText='Facebook'></span></li>
                <li><span class='share-btn st_twitter_large'
                          displayText='Tweet'></span></li>
                <li><span class='share-btn st_email_large'
                          displayText='Email'></span></li>
                <li><a href="#scrol_to" title="Comment"><i
                                class="fa commenting-o very-small-picto"></i><span>{{ 'Comment'|t }}</span></a>
                </li>
            </ul>
            <ul class="list-social second">
                <li><span class='share-btn st_reddit_large'
                          displayText='Reddit'></span></li>
                <li><span class='share-btn st_linkedin_large'
                          displayText='LinkedIn'></span></li>
                <li><span class='share-btn st_tumblr_large'
                          displayText='Tumblr'></span></li>
                <li><span class='share-btn st_googleplus_large'
                          displayText='Google+'></span></li>
            </ul>
        </li>
        <li class="btn-social">
            <a href="#" title="More" class="no-margin"><i
                        class="fa fa-plus very-small-picto"></i><span>{{ 'More socials'|t }}</span></a>
        </li>
    </ul>
</div>
