{#
Template for Social links block.
#}

<h2 class="uppercase-txt line line-grey2 ">
  {{ 'Follow us on social networks'|t }}
</h2>
<ul class="social-media">
  <li>
    <a href="https://www.facebook.com/TOLOnews" target="_blank" title="{{ 'Facebook'|t }}">
      <i class="fa fa-facebook"></i>
      {{ 'Facebook'|t }}
    </a>
  </li>
  <li>
    <a href="http://www.twitter.com/TOLOnews" target="_blank" title="{{ 'Twitter'|t }}">
      <i class="fa fa-twitter"></i>
      {{ 'Twitter'|t }}
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/+TOLOnews" target="_blank" title="{{ 'Google+'|t }}">
      <i class="fa fa-google-plus"></i>
      {{ 'Google+'|t }}
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/user/TOLOnewsLive" target="_blank" title="{{ 'Youtube'|t }}">
      <i class="fa fa-youtube-play"></i>
      {{ 'Youtube'|t }}
    </a>
  </li>
  <li class="last">
    <a href="https://www.instagram.com/tolonewsOfficial/" target="_blank" title="{{ 'Instagram'|t }}">
      <i class="fa fa-instagram"></i>
      {{ 'Instagram'|t }}
    </a>
  </li>
</ul>