{#
/**
 * @file
 * Weather block content.
 *
 * Available variables:
 * - lang_1: first language param.
 * - lang_2: second language param.
 * - title: block title.
 * @ingroup themeable
 */
#}

<h3 class="line bold uppercase-txt">{{ title }}</h3>
<div class="container-weather">
    <div class="image-weather"><img
                src="themes/custom/tolonews/html/images/image-meteo.jpg"
                alt="image-meteo"
                width="310" height="289"/></div>
    <a href="http://www.accuweather.com/{{ lang_1 }}/{{ lang_2 }}/kabul/4361/weather-forecast/4361"
       class="aw-widget-legal">
    </a>
    <div id="awcc1455525954273" class="aw-widget-current"
         data-locationkey="4361" data-unit="c" data-language="{{ lang_1 }}"
         data-useip="false" data-uid="awcc1455525954273"></div>
    <script type="text/javascript"
            src="http://oap.accuweather.com/launch.js"></script>
</div>
