{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<nav>
{{ menus.menu_links_tolo_main(items, attributes, 0) }}
</nav>

{% macro menu_links_tolo_main(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass('nav navbar-nav clearfix') }}>
  {% else %}
  <ul class="menu">
    {% endif %}
    {% for item in items %}
      {%
      set classes = [
        'lvl1',
      ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {%  if item.html %}
          <a href="{{ item.url }}" class="watch-link bold" title="WATCH">{{ 'WATCH'|t }} <span>{{ 'LIVE'|t }}</span></a>
        {% else %}
          {{ link(item.title, item.url, {'title': item.title}) }}
          {% if item.is_expanded %}
            <div class="dropdown-menu">
              <div class="inner-container">
                <div class="one-col">
                  <h2 class="red">{{ item.title }}</h2>
                  <ul class="list-menu">
                    <li><a href="{{ item.url }}/all" title="">{{ 'All'|t }}</a></li>
                    {% if item.below %}
                      {% for subcategory in item.below %}
                        <li>{{ link(subcategory.title, subcategory.url, {'title': subcategory.title}) }}</li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>
                {% if item.view %}
                <div class="two-col last-col">
                  <ul class="row full-width-col-mobile list-post ">
                    {{ item.view }}
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
</ul>
