// -----------------
// Compass utilities
// -----------------

// ---------
// Variables
// ---------

@import "partials/base";
@import "partials/mixin";
// --------
// Partials
// --------

@import "partials/reset";
@import "partials/font";
@import "layouts/responsive";
@import "partials/buttons";
// --------
// external
// --------
@import "external/font-awesome";
@import "external/uniform";
@import "external/_flag-icon.scss";
// --------
// Import
// --------

@import "layouts/header.scss";
@import "layouts/footer.scss";

html, html a, button {
	-webkit-font-smoothing: antialiased;
	outline: 0 none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body {
	font-family: $HelveticaNeue;
	font-size: 14px;
	font-size: pxtoem(14);
	color: $grey-dark1;
	direction: $default-direction;
	[dir="rtl"] {
		direction: $opposite-direction;
	}
}
.row, .inner-container, .clearfix {
	@include clearfix;
}
ul {
	padding: 0;
	list-style: none;
}
a {
	color: $grey-dark1;
	text-decoration: none;
}
.wrapper {
	margin-bottom: 0;
}
body {
	@include transition(all 200ms ease-in-out);
	opacity: 1;

	&.is-exiting {
		opacity: 0;
	}
}

/************************
	GOLABL STYLE CLASS
*************************/
.wrapper .hidden {
	display: none;
}
.visible-onlymobile {
	display: none;
}
.show-in-mobile {
	display: none;
}
.uppercase-txt {
	text-transform: uppercase;
}
.centered {
	text-align: center;
}
.hide {
	display: none;
}
.bold {
	font-family: $HelveticaNeueBold;
}
.grey-light3 {
	color: $grey-light3;
}
.one-col h3 {
	font-family: $HelveticaNeueBold;
}
.green-light {
	background: $green-light;
}
.grey-light3 {
	color: $grey-light3;
}
.grey-dark4 {
	color: $grey-dark4;
}
.grey-dark5 {
	color: $grey-dark5;
}
.grey-light4 {
	color: $grey-light4;
}
.green {
	color: $green;
}
.red {
	color: $red;
}
.line {
	padding-bottom: 9px;
}
.line-red {
	border-bottom: 2px solid $red;
}
.line-grey-dark {
	border-bottom: 2px solid $grey-dark1;
}
.line-grey {
	border-bottom: 2px solid $grey-light;
}
.line-grey2 {
	border-bottom: 2px solid $grey-light2;
}
.line-grey3 {
	border-bottom: 2px solid $grey-light7;
}
.line-green {
	border-bottom: 2px solid $green;
}
.line-blue {
	border-bottom: 2px solid $blue;
}
.grey-box {
	background: $grey-box none repeat scroll 0 0;
}
.bar-bottom {
	border-bottom: 2px solid $grey-light;
}
.blue-light {
	background: $blue-light;
}
.blue1 {
	color: $blue1;
}
.grey-dark.row {
	background: $grey-dark;
}
.grey-light5 {
	color: $grey-light5;
}

/********************************
    COMMON POST TITLE CATEGORY
********************************/
.title-category {
	letter-spacing: -0.4px;
	font-size: 20px;
	font-size: pxtoem(20);
	font-family: $HelveticaNeueBold
}

/*********************
    TOP POST TITLE
*********************/
.type-category {
	background: $red;
	color: $white;
	display: block;
	font-size: 10px;
	font-size: pxtoem(10);
	font-family: $HelveticaNeueBold;
	text-transform: uppercase;
	padding: 5px 8px;
	display: inline-block;
	@include margin-right(8px);
}
.top-post-tolonews {
	margin-bottom: 5%;

	.tag-category {
		margin-bottom: 10px;
	}
	.title-top-post-tolonews {
		font-family: $HelveticaNeueBold;
		font-size: 40px;
		font-size: pxtoem(40);
		letter-spacing: -1px;
		margin-bottom: 1.5%;
	}
	p {
		font-family: $HelveticaNeueLight;
		line-height: 18px;
		margin-bottom: 3px;
	}
	h3 {
		font-family: $HelveticaNeueBold;
		font-size: 13px;
		font-size: pxtoem(13);
		margin-top: 14px;
		margin-bottom: 8px;
	}
	.part-left {
		@include float(left);
		vertical-align: top;
		width: 31%;

		li {
			letter-spacing: -0.2px;
			font-family: $HelveticaNeueMedium;
			line-height: 18px;
			margin-bottom: 3%;
			padding-top: 0;
			padding-bottom: 0;
			@include padding-right(1%);
			@include padding-left(0);
		}
	}
	.part-right {
		@include float(left);
		width: 66.6%;
		vertical-align: top;
		@include margin-left(1.6%);
	}
	.related-news {
		li a {
			@include transition(all 175ms ease);
		}
		li a:hover {
			@include transition(all 175ms ease);
			color: $red;

			.fa-angle-right {
				color: $grey-dark3;
			}
		}
	}
	&.post-single {
		.intro {
			p {
				font-size: 20px;
				font-size: pxtoem(20);
				font-family: $HelveticaNeueMedium;
				color: $grey-dark1;
				line-height: normal;
				letter-spacing: -0.3px;
			}
		}
		.entry-blog-meta {
			margin-top: 20px;
		}
		.entry-summary {
			margin-top: 20px;
			font-size: 15px;
			font-size: pxtoem(15);
			line-height: 21px;
			font-family: $HelveticaNeue;

			p {
				font-family: $HelveticaNeue;
				font-size: 15px;
				font-size: pxtoem(15);
				line-height: 21px;
			}
			h3 {
				font-size: 20px;
				font-size: pxtoem(20);
				font-family: $HelveticaNeueMedium;
				margin: 18px 0;
			}
		}
	}
}

/*********************
    VIDEO PROGRAM
*********************/
.row-video {
	margin-bottom: 5%;
}
.content-watch-tolo {
	&.tv-program {
		margin-bottom: 45px;
	}
	h3 {
		margin: 12px 0 5px 0;
		color: $white;
		font-size: 30px;
		font-size: pxtoem(30);
		font-family: $HelveticaNeueBold;
		letter-spacing: -0.75px;
	}
	.video {
		position: relative;
		display: block;

		.play {
			left: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 93px;
			margin: auto;
			height: 93px;
		}
	}
	.info {
		a {
			color: $white;
		}
	}
}

/*********************
    STYLE POST TITLE
*********************/
.container-top-post {
	margin-bottom: 15px;

	&.line-grey {
		.view-all-post {
			margin-top: 3px;
		}
	}
	&.no-margin {
		margin-bottom: 0;
	}
	span {
		letter-spacing: -0.5px;
	}
	&.tabulations-tolo {
		li {
			display: inline-block;
			vertical-align: top;
			border: 0 none;
			@include margin-right(8px);

			a {
				padding: 0 0 5px 0;
				color: $grey-light5;

				&.active {
					color: $red;
				}
			}
		}
	}
	.title-category, .titleBlock {
		display: inline-block;
		vertical-align: middle;
	}
	.view-all-post {
		@include float(right);
		font-family: $HelveticaNeueMedium;
	}
}

/*PICTO >*/
.fa-angle-right, .fa-angle-left {
	font-weight: bold;
}

/*DATE*/
.post-date {
	font-size: 10px;
	font-size: pxtoem(10);
	margin-bottom: 1.8%;
	display: inline-block;
	font-family: $HelveticaNeueBold;
}

/*********************
STYLE POST TOLONEWS
*********************/
.post-tolonews {
	font-family: $HelveticaNeueLight;
	padding-bottom: 15px;
	margin-bottom: 10px;

	.container-image {
		position: relative;
	}
	.tag-category {
		position: absolute;
		bottom: -8px;
		left: 6px;
	}
	p {
		text-shadow: 1px 1px 1px $text-rgb;
	}
	&.small-column {
		padding-bottom: 0;
		margin-bottom: 8px;
	}
	&.vertical-bloc {
		width: auto;
		padding-right: 0;
		@include padding-right(0px);
		display: block;
		margin-bottom: 15px;
		@include transition(all 175ms ease);

		&:hover {
			border-color: $grey-light !important;
		}
		&.last {
			border: 0;
		}
		.container-image {
			display: inline-block;
			max-width: 38%;
		}
		.content-article {
			display: inline-block;
			@include margin-left(3%);
			margin-top: 10px;
			vertical-align: top;
			width: 57.7%;
		}
	}
	.content-article {
		p {
			font-family: $HelveticaNeue;
			line-height: 18px;
			margin-bottom: 4px;
		}
	}
	.title-article {
		font-size: 20px;
		font-size: pxtoem(20);
		padding-bottom: 7px;
		letter-spacing: -1.1px;
		padding-top: 15px;
		font-family: $HelveticaNeueBold;
	}
	&.small-column {
		h4 a {
			font-family: $HelveticaNeueMedium;
			color: $grey-dark3;
		}
		.container-image {
			display: inline-block;
			vertical-align: middle;
			max-width: 42%;
		}
		.content-article {
			display: inline-block;
			vertical-align: middle;
			line-height: 16px;
			@include padding-left(2.8%);
			@include padding-right(0);
			max-width: 51.7%;
			letter-spacing: -0.5px;
		}
	}

	/****************
	VIDEO WATCH POST
	****************/
	&.video-thumbnail {
		.container-image {
			padding-top: 0;
			position: relative;
		}
		.content-article {
			padding-top: 0;
		}
		a {
			display: table;
			color: $white;
			width: 100%;
		}
		.fa-play {
			left: 0;
			position: absolute;
			top: 0;
			margin: auto;
			right: 0;
			bottom: 0
		}
	}
}

/****************************************************
     ELEMENTS HOVER COMMON ON ARTICLE TYPE POST
****************************************************/
.list-post {
	li.one-col {
		margin-bottom: 0;
	}
	.post-tolonews {
		@include transition(all 175ms ease);

		.container-image {
			@include transition(all 175ms ease);
			border: 3px solid $white;

			img {
				vertical-align: bottom;
				max-width: 100%;
				height: auto;
			}
		}
		h3 a, h4 a {
			@include transition(all 175ms ease);
		}
		&:hover {
			border-color: $grey-dark3;

			.container-image {
				@include transition(all 175ms ease);
				border: 3px solid red;
			}
			.content-article {
				h3 a, h4 a {
					@include transition(all 175ms ease);
					color: $red;
				}
			}
		}
	}
}
.post-category {
	.one-col {
		margin-top: 0%;
	}
}

/***********************
     list item -widget
************************/
.list-item-widget {
	font-family: $HelveticaNeueMedium;

	li {
		border-bottom: 1px solid $grey-light;
		line-height: 18px;

		>a {
			display: table;
			width: 100%; 
		}
	}
	.list-item {
		a {
			@include transition(all 175ms ease);
		}
		a:hover {
			background: $red;
			color: $white;

			.number {
				color: $grey-dark1
			}
			.content {
				color: $white;

				.fa-angle-right {
					color: $grey-dark1;
				}
			}
		}
	}
	.number {
		font-family: $Roboto;
		font-size: 20px;
		font-size: pxtoem(20);
		@include float(left);
		line-height: 55px;
		@include padding-right(18px);
		@include padding-left(14px);
	}
	span {
		@include margin-left(5px);
	}
	.content {
		width: 69%;
		@include float(left);
		vertical-align: middle;
		padding-top: 14px;
		padding-bottom: 10px;
		@include padding-right(20px);
		@include padding-left(0);
		color: $grey-dark1;

		&.category {
			@include padding-left(20px);
		}
	}
}
.box-tolonews-program {
	margin-top: 12px;

	.green-light {
		max-height: 312px;
		min-height: 312px;
		overflow: auto;
		border-bottom: 0px solid transparent;
	}
	li {
		font-family: $HelveticaNeueLight;
		border-bottom: 1px solid $grey-light;
		height: 0;
		opacity: 0;
		padding: 0;

		.tolo-title {
			font-size: 14px;
			font-size: pxtoem(14);
			font-family: $HelveticaNeue;
			padding-bottom: 5px;
			overflow: hidden;

			.Boldtitle {
				font-family: $HelveticaNeueMedium;
				@include float(left);
				@include margin-right(5px);
				overflow: hidden;

				span {
					@include float(left);
					@include margin-right(5px);

					&:last-child {
						@include margin-right(0);
					}
				}
			}
		}
		.time {
			@include float(left);
			font-size: 10px;
			line-height: 18px;
		}
		.tolo-link {
			font-size: 14px;
			font-size: pxtoem(14);
			font-family: $HelveticaNeue;
			display: block;
			text-align: center;
			font-family: $HelveticaNeueBold;
			cursor: pointer;
		}
		&.active {
			padding-top: 17px;
			padding-bottom: 17px;
			@include padding-right(14px);
			@include padding-left(14px);
			-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadein 2s; /* Firefox < 16 */
			-ms-animation: fadein 2s; /* Internet Explorer */
			-o-animation: fadein 2s; /* Opera < 12.1 */
			animation: fadein 2s;
			opacity: 1;
			height: auto;
		}
		&.schedule-link {
			padding-top: 17px;
			padding-bottom: 17px;
			@include padding-right(14px);
			@include padding-left(14px);
			height: auto;
			opacity: 1;
			position: relative;
		}
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/****************
CURRENCY RATE
****************/
.currency {
	.view-all-post {
		text-transform: uppercase;
	}
	table {
		width: 100%;
		border: 0 none;

		tr {

			/*&:hover {
				background: $red;

				td {
					cursor: pointer;
					color: $white;
				}
			}*/
		}
		td {
			white-space: nowrap;
			padding: 15px 0;
			border-bottom: 1px solid $grey-light;
			vertical-align: middle;

			/*&:hover {
				background: $red;
				color: $white;
			}*/
			&.first {
				@include padding-left(15px);
			}
			&.price {
				font-family: $HelveticaNeueMedium;
				@include padding-left(25px);
				@include text-align(right);
				@include padding-right(15px);
			}
			&.arrow {
				@include padding-right(2px);
				@include padding-left(10px);
			}
			.arrow-down, .arrow-up {
				display: inline-block;
				zoom: 1;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
			}
			.arrow-down {
				border-top: 10px solid $red2;
			}
			.arrow-up {
				border-bottom: 10px solid $green2;
			}
		}
	}
}

/****************
BOX PUB
****************/
.box.pub {
	padding: 1.6%;
	text-align: center;
}

/***********************
SOCIAL SIDEBAR
**********************/
.social-media {
	width: 100%;
	display: block;
	padding-top: 18px;

	li {
		display: inline-block;
		font-family: $HelveticaNeueMedium;

		&.last {
			@include margin-right(0);
		}
		a {
			font-size: 19px;
			font-size: pxtoem(19);
			line-height: 3.125rem;
			height: 50px;
			color: $white;
			display: block;
			vertical-align: top;

			i {
				@include margin-right(10px);
			}
		}
		&:hover {
			i {
				background: $white;
				color: $grey-dark;
			}
		}
	}
}
.social-sidebar {
	.social-content {
		background: $grey-dark5;
	}
}

/****************
TWITTER WIDGET
****************/
.box-tolo-twitter {
	font-family: $HelveticaNeueLight;
	line-height: 18px;
	margin-bottom: 4px;
	color: $blue1;

	.twitter-feed {
		background: $blue-light;
		padding: 0 12px;
		border-bottom: 2px solid $grey-light;
		max-height: 550px;
		overflow: auto;
	}
	.follow-tolo {
		padding: 10px 0 20px 0;

		span {
			font-size: 14px;
			font-size: pxtoem(14);
			font-family: $HelveticaNeueBold;
			text-align: center;
			position: relative;
		}
		i {
			color: $grey-light6;
			font-size: 1.4rem;
			@include margin-right(2px);
			position: relative;
			top: 2px;
		}
	}
}
.social-sidebar {
	.post-tolonews {
		.social-media {
			padding: 2% 4%;
			width: 92%;
			border-bottom: 1px solid $grey-light2;

			li a i {
				@include margin-right(6px);
			}
		}
	}
	.title-article {
		padding-top: 4%;
		padding-bottom: 4%;
		@include padding-right(0);
		@include padding-left(4%);
		width: 92%;
	}
	.col-newsletter {
		padding: 4%;
		width: 92%;

		h3 {
			padding: 0 0% 4% 0%;
		}
		p {
			color: $white;
			margin-bottom: 5%;
		}
		form {
			margin-bottom: 0;

			input[type="email"] {
				width: 78%;
			}
		}
	}
}

/*****************
     PAGINATION
******************/
.pager {
	border-top: 1px solid $grey-light;
	width: 100%;
	text-align: center;
	margin-bottom: 4%;

	li {
		display: inline-block;
		margin: 0 1%;
		font-size: 17px;
		font-size: pxtoem(17);
		font-family: $HelveticaNeueMedium;
		padding: 2.5% 1% 0;

		a {
			color: $grey-dark1;
		}
		&.pager-current {
			color: $red;
			border-top: 2px solid;
			margin-top: -1px;
		}
		&.previous, &.next {
			padding-top: 2%;

			a {
				color: $red;
				font-size: 12px;
				font-size: pxtoem(12);
				font-family: $HelveticaNeueBold;
				text-transform: uppercase;
			}
			i {
				font-size: 15px;
				font-size: pxtoem(15);
			}
		}
	}
	&.white {
		border-top: 1px solid $grey-light7;

		a {
			color: $white;
		}
	}
}
.share-buttons.social-media {
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	padding: 5px 0;
	margin-bottom: 2.4%;
	display: table;
	width: 100%;
	table-layout: fixed;

	.share-btn {
		position: relative;
		display: block;
		top: 10px;
	}
	span.stButton .stLarge {
		background-image: url(../images/btn-share.png) !important;

		&:after {
			color: $white;
			@include padding-left(38px);
			line-height: 32px;
			font-family: $HelveticaNeueBold;
			font-size: 10px;
			font-size: pxtoem(10);
			text-transform: uppercase;
		}
		@include transition(all 175ms ease);

		&:hover {
			background: inherit;
		}
	}
	span.st_facebook_large .stLarge {
		background-position: 0 0;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 0;
		}
		&:after {
			content: "Facebook";
		}
	}
	span.st_twitter_large .stLarge {
		background-position: 0 -86px;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 -86px;
		}
		&:after {
			content: "Twitter";
		}
	}
	span.st_email_large .stLarge {
		background-position: 0 -183px;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 -183px;
		}
		&:after {
			content: "Email";
		}
	}
	span.st_reddit_large .stLarge {
		background-position: 0 -44px;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 -44px;
		}
		&:after {
			content: "Reddit";
		}
	}
	span.st_linkedin_large .stLarge {
		background-position: 0 -133px;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 -133px;
		}
		&:after {
			content: "LinkedIn";
		}
	}
	span.st_tumblr_large .stLarge {
		background-position: 0 -241px;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 -241px;
		}
		&:after {
			content: "Tumblr";
		}
	}
	span.st_googleplus_large .stLarge {
		background-position: 0 -290px;
		@include transition(all 175ms ease);

		&:hover {
			background-position: 0 -290px;
		}
		&:after {
			content: "Google+";
		}
	}
	li {
		vertical-align: top;

		&.comments {
			display: table-cell;
			width: 15%;
		}
		&.list-icons {
			display: table-cell;
			width: 72%;

			li {
				width: 26.15%;
			}
			.list-social {
				display: table;
				width: 100%;
				table-layout: fixed;

				li {
					display: table-cell;
				}
				&.second {
					display: none;
					margin-bottom: 20px;

					&.open {
						display: table;
					}
				}
			}
		}
		&.btn-social {
			display: table-cell;
			width: 20%;
		}
		.fa {
			font-size: 15px;
			font-size: pxtoem(15);
			border: 0;
			display: inline-block;
			vertical-align: middle;
			@include transition(all 175ms ease);

			&.fa-facebook {
				background: $blue-dark;
			}
			&.fa-twitter {
				background: $light-blue-8;
			}
			&.fa-google-plus {
				background: $red3;
			}
			&.fa-tumblr {
				background: $blue-dark2;
			}
			&.fa-envelope-o {
				background: $red;
			}
			&.fa-linkedin {
				background: $light-blue-9;
			}
			&.commenting-o {
				background: $black url(../images/sprite.png) 7px -100px no-repeat;
			}
			&.fa-plus {
				border: 1px solid $grey-light;
				background: transparent;
			}
			&.fa-reddit-alien {
				background: $orange url(../images/sprite.png) 6px -72px no-repeat;
			}
			&:hover {
				color: $white;
			}
		}
		a {
			font-size: 10px;
			font-size: pxtoem(10);
			text-transform: uppercase;
			font-family: $HelveticaNeueBold;
		}
		.social-list {
			background: $grey-dark;
			border: 1px solid $grey-light;
			display: none;
			padding: 1.3% 2.3%;
			position: absolute;
			z-index: 1;
			right: 8px;
			width: 120px;
		}
		&.list {
			@include margin-right(0);
			@include transition(all 175ms ease);

			&:hover {
				.social-list {
					display: block;
				}
			}
		}
	}
	&.no-border {
		border: 0 !important;
		padding: 0;
		margin: 0;
	}
	&.text-dark {
		border-top: 1px solid $grey-light;
		border-bottom: 1px solid $grey-light;

		span.stButton .stLarge {
			&:after {
				color: $grey-dark1;
			}
		}
		a {
			color: $grey-dark1;
		}
		.social-list {
			background: $white;
		}
		.fa-plus::before {
			color: $grey-dark1;
		}
	}
}
.no-margin {
	margin: 0 !important;
}
.comment-post {
	margin-top: 5%;
}

/****************
CATEGORY TITLE
****************/
.category-title {
	font-size: 70px;
	font-size: pxtoem(70);
	margin-bottom: 2%;
	font-family: $HelveticaNeueBold;
	letter-spacing: -2px;

	span {
		font-size: 40px;
		font-size: pxtoem(40);
		font-family: $HelveticaNeue;
		display: inline-block;
		vertical-align: middle;
	}
}
.sidebarRight.with-margin {
	margin-top: 11.4%;
}

/**box-programlive**/
.box-programlive {
	border: 10px solid $red;
	margin-top: 2%;

	.page-title {
		color: $white;
		margin-top: -29px;
		margin-bottom: 4%;

		h1 {
			font-size: 40px;
			font-size: pxtoem(40);
			font-family: $HelveticaNeueBold;
			background: $grey-dark;
			display: inline-block;
			padding: 0 18px;

			.live {
				padding: 5px 14px;
				display: inline-block;
				text-transform: uppercase;
				background: $red;
				font-size: 20px;
				font-size: pxtoem(20);
				vertical-align: middle;
				@include margin-left(17px);

				.fa-video-camera {
					color: $red4;
					@include padding-right(10px);
				}
			}
		}
	}
}

/**PLAY VIDEO YOUTUBE*/
.container-video-cover {
	position: relative;
	height: 365px;

	.block-video-play {
		position: absolute;
		top: 0;
	}
	.hide-cover {
		display: none;
	}
}
@import "_home.scss";
@import "_tv-program.scss";
