// ---------
// Variables
// ---------

@import "partials/base";
@import "partials/mixin";

/**SOCIAL ROW + BTN **/
.row-social-tolo {
    padding: 2% 0 2.5% 0;

    h2 {
        font-family: $Roboto;
        font-size: 19.95px;
        font-size: pxtoem(19.95);
        color: $white;
        font-weight: bold;
    }
    li {
        width: 19.65%;
    }
}

/****************
WATCH VIDEO
****************/
.row-watch-tolo {
    padding-bottom: 1%;
    padding-top: 2%;

    h2 {
        font-family: $HelveticaNeueBold;
        color: $white;
    }
    .container-top-post {
        margin-bottom: 20px;
    }
    .thumbs-watch-tolo {
        h3 {
            color: $white;
            font-family: $HelveticaNeueMedium;
            margin-bottom: 4%;
        }
        li {
            .container-image {
                border: 3px solid $grey-dark;
            }
            &:hover {
                .content-article {
                    p {
                        @include transition(all 175ms ease);
                        color: $red;
                    }
                }
                .container-image {
                    @include transition(all 175ms ease);
                    border: 3px solid $red;
                }
            }
        }
    }
}

/****************
MEDIUM VIDEO
****************/
.box-medium-video {
    .video {
        position: relative;
        padding: 6% 4.8%;

        .play {
            left: 38%;
            position: absolute;
            top: 35%;
        }
    }
    .title {
        font-size: 20px;
        font-family: $HelveticaNeueMedium;
        font-size: pxtoem(20);
        @include padding-left(5%);
        margin-bottom: 1%;
    }
    .text-vds {
        padding: 0 5% 5%;
        font-family: $HelveticaNeueLight;
        line-height: 18px;
    }
}

/****************
PHOTO SLIDER
****************/
.box-photo-right {
    .title-description {
        font-size: 1.875rem;
        margin-top: 12px;
        padding-bottom: 15px;
        font-family: $HelveticaNeueBold;
    }
    .thumbs-photo {
        margin-top: 15px;

        .thumbs-medium-column {
            display: inline-block;
            font-family: $HelveticaNeueMedium;
            cursor: pointer;
            @include padding-right(2.5%);
            @include padding-left(0);
            width: 31.1%;

            img {
                max-width: 99%;
                height: auto;
                border: 3px solid $white;
                @include transition(all 175ms ease);
            }
            .title-thumb {
                display: block;
                margin-top: 10px;
                line-height: normal;
                @include transition(all 175ms ease);
            }
            .bigger {
                display: none;
            }
            &.last {
                padding: 0;
            }
            &:hover {
                .title-thumb {
                    color: $red;
                }
                img {
                    border: 3px solid $red;
                }
            }
        }
    }
}

/****************
BOX WEATHER
****************/
.box-weather {
    margin-top: 8%;

    h3 {
        color: $blue;
    }
    #link_get_widget {
        display: none !important;
    }
    .container-weather {
        position: relative;
        text-align: center;
        color: $white;
        height: 290px;

        h3, p {
            color: $white;
        }
        .image-weather {
            position: absolute;
            overflow: hidden;
            opacity: 0.8;
            width: 100%;
            height: 289px;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: auto;
            }
        }
        .picto {
            padding-top: 64px;
        }
        .txt {
            line-height: 20px;
            padding-top: 10px;

            span {
                display: block;
            }
        }
        .pays-title {
            font-size: 20px;
            font-size: 1.25rem;
            position: relative;
            font-family: $HelveticaNeueBold;
            margin-bottom: 1.5%;
        }
        p {
            font-size: 20px;
            font-size: pxtoem(20);
            position: relative;
            padding: 10px;
        }
    }
    div.aw-widget-current-inner div.aw-widget-content {
        background: 0 none !important;
        border: 0 none !important;
    }
    .aw-current-weather-inner {
        max-width: inherit !important;
        padding-bottom: 24px !important;
        width: 100% !important;
        text-align: center;
        padding-top: 40% !important;
    }
    .aw-current-weather-inner .aw-icon {
        background-position: center center;
    }
}
body .box-weather div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    background-position: center center !important;
}
body .box-weather div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p {
    padding-left: 0 !important;
    width: 100% !important;
}

/****************
BOX VOTE
****************/
.link-square {
    border: 1px solid $grey-dark1;
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 40%;
    font-family: $HelveticaNeueMedium;
    cursor: pointer;
    font-size: 14px;
    font-size: pxtoem(14);

    &.red {
        border-color: $red;
    }
    &.button {
        padding: 7px;
        width: 49%;
        background: 0 none;
        height: 36px;
    }
}
.box-vote {
    padding: 17px 14px;
    margin-bottom: 10%;

    .title-category {
        line-height: normal;
    }
    ul {
        li {
            min-height: 17px;
            padding: 0;
            border: 0;
            margin: 3.55% 0;

            input {
                &.link-square {
                    @include transition(all 175ms ease);

                    &:hover {
                        background-color: $red;
                        color: $grey-light;
                    }
                }
            }
            .view-results {
                @include transition(all 175ms ease);

                &.active {
                    background-color: $grey-dark1;
                    color: $white;
                }
                &:hover {
                    background-color: $grey-dark1;
                    color: $grey-light;
                }
            }
            .result {
                font-family: $HelveticaNeueMedium;

                .red {
                    font-family: $HelveticaNeueBold;
                    font-style: italic;
                }
            }
        }
    }
}