// -----------------
// Compass utilities
// -----------------

// ---------
// Variables
// ---------

@import "partials/base";
@import "partials/mixin";

#wrapper {
    @include right(0);
    position: absolute;
    transition: right 0.5s ease 0s;
    width: 100%;
}
header {
    .navbar-toggle {
        display: block;
    }
    .bar-container {
        height: auto;

    }
    .logo {
        @include left(5%);
        position: absolute;
        transition: left 0.5s ease 0s;
        top: 17%;
        margin-top: -6px;
    }
    .navigation-sticky{
        position: relative;

        &.is-fixed{
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        &.scroller{
            -webkit-transform: translate3d(0, -64px, 0);
            -moz-transform: translate3d(0, -64px, 0);
            transform: translate3d(0, -64px, 0);
            -webkit-transition: -webkit-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
            -moz-transition: -moz-transform .3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
    .top-navigation {
        display: none;

        &.show-in-mobile {
            display: block;
            background: $grey-dark none repeat scroll 0 0;
            width: 100%;
            margin-bottom: 20px;

            ul {
                display: none;

                &.language {
                    display: block;

                    li {
                        margin: 0 20px 0 0;

                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .group-middle {
        .header-right {
            background: $grey-dark;
            margin: 0 0 30px 0;
            width: 100%;

            .search {
                width: 100%;
            }
        }
    }
    .container-header {
        position: absolute;
        transition: right 0.5s ease 0s;
        @include right(-80%);
        width: 72%;
        z-index: 1;
        overflow: hidden;
        padding: 7% 4%;
        background: $grey-dark none repeat scroll 0 0;
        display: none;
        width: 50%;

        &.open {
            display: block;
        }
    }
}
nav {
    .navbar-nav {
        border: medium none;
        display: block;
        width: 100%;
        margin-bottom: 20px;

        li {
            float: none;
            margin-bottom: 4%;
            @include transition(all 175ms ease);

            &.open, &:hover {
                border-bottom: 0;
                padding-bottom: 2.6%;

                a {
                    color: $white;
                }
                .dropdown-menu {
                    display: none;
                }
            }
            a {
                color: $white;
            }
            &.dropdown {
                @include transition(all 175ms ease);

                &:hover, &.open {
                    border-bottom: 0;
                    padding-bottom: 2.6%;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

body {
    overflow-x: hidden;
}

.open-menu {
    overflow: hidden;

    .mobile-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100vh;
        width: 50%;
    }

    .container-header {
        @include right(0);
        z-index: 1;
    }
    #wrapper {
        @include right(58%);
    }
    .logo {
        @include left(-58%);
    }
    .news-bar {
        @include left(-58%);
    }
    header {
        .search {
            position: relative !important;
            left: 0;

            .form-submit {
                background: white url(../images/loop.svg) center 11px no-repeat !important;
                background-size: 30% !important;
            }

            #edit-search {
                opacity: 1 !important;
                width: 80% !important;
                background: white !important;
            }
        }

        .group-middle {
            padding: 0;
            width: 100%;

            .search input, header .group-middle {
                display: block;
            }
        }
        .top-navigation {
            display: none;

            &.show-in-mobile {
                display: block;
            }
        }
        .navbar-toggle {
            background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll 8px -47px;
            height: 22px;
            @include left(4%);
            margin-top: 0;
            padding: 0;
            position: absolute;
            top: 37%;
            width: 14%;

            span {
                display: none
            }
        }
    }
}
.news-bar {
    background: $red;
    display: table;
    -webkit-transition: left 0.5s ease 0s;
    -moz-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    @include left(0);
    min-height: 75px;
    max-height: 75px;

    .inner {
        position: relative;
    }
    .latest {
        display: inline;
        font-size: 10px;
        font-size: pxtoem(10);
        @include margin-right(1.5%);
        padding-top: 0;
        padding-bottom: 0;
        @include padding-right(2%);
        @include padding-left(1%);
        text-align: center;
        width: auto;
        margin-top: 2px;
        margin-bottom: 3px;
    }

    .latest + a {
        display: inline-block;
        width: 100%;
        min-height: 36px;
        line-height: 1.6em;
    }

    .news {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        display: table-cell;
        font-size: 0.875rem;
        line-height: 14px;
        margin-bottom: 0;
        margin-left: inherit;
        margin-right: inherit;
        margin-top: inherit;
        vertical-align: top;
        padding-top: 5px;
        padding-bottom: 5px;
        @include padding-right(65px);
        @include padding-left(4%);
        width: 80%;

        .close {
            position: absolute;
            @include  right(6%);
            top: 50%;
            margin-top: -17px;
        }
        p {
            float: none;
        }
    }
    &.latest{
        top: 210px !important;
        position: absolute;
        min-height: 75px;
        max-height: 75px;
        background: #3b3f42;
        .news-items {
            display: block;
            width: 100%;
            a {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
header .group-middle {
    height: 80px;
    padding: 0% 3% 0;
    width: 94%;
}
header .group-middle .logo {
    width: 60px;
    height: auto;
}
header .group-middle .logo img {
    height: auto;
    width: 100%;
}
