// -----------------
// Compass utilities
// -----------------

// ---------
// Variables
// ---------

@import "partials/base";
@import "partials/mixin";

// --------
// Layout
// --------

@media screen and (min-width:320px) and (max-width:767px) {

	@import "_responsive-header-smartphone.scss";
@keyframes animmenu
                {
                from {top: -80px;}
                to{top:0px;}
                }
                @-moz-keyframes animmenu
                {
                from {top: -80px;}
                to{top:0px;}
                }
                @-webkit-keyframes animmenu
                {
                from {top: -80px;}
                to{top:0px;}
                }
@keyframes animmenurevert
                {
                from {top: 0;}
                to{top:-80px;}
                }
                @-moz-keyframes animmenurevert
                {
                from {top: 0;}
                to{top:-80px;}
                }
                @-webkit-keyframes animmenurevert
                {
                from {top: 0;}
                to{top:-80px;}
                }

	.overlay {
		background: $grey-dark1;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 0;
		opacity: 0;

		&.active {
			opacity: 0.7;
			z-index: 56;
		}
	}
	header {
		.navigation-sticky {
			/*top: 0 !important;*/
			&.is-fixed{
				-moz-animation:animmenu 0.1s; /* Firefox */
            	-webkit-animation:animmenu 0.1s; /* Safari and Chrome */
			}
			&.fixed-revert{
				-moz-animation:animmenurevert 0.1s; /* Firefox */
            	-webkit-animation:animmenurevert 0.1s; /* Safari and Chrome */
            	position: fixed;
            	top: -150px;
			}

		}
	}
	.inner-container {
		@include padding-right(14px);
		@include padding-left(14px);

		&.footer-section {
			@include padding-right(14px);
			@include padding-left(14px);
			padding-top: 8%;
			padding-bottom: 8%;
		}
	}
	.hidden-onmobile {
		display: none !important;
	}
	.visible-onlymobile {
		display: block;
	}
	.full-width-col-mobile {
		margin-right: 0;
		margin-left: 0;
		width: 100% !important;
	}
	.one-col, .two-col, .three-col, .four-col, .three-col .one-col {
		width: 100% !important;
		@include margin-right(0);
		margin-bottom: 20px;
	}
	.row {
		margin-bottom: 0;
	}
	.wrapper {
		padding-top: 0;
		margin-top: -30px;
	}

	/*********************
		POST ARTICLE TOLO
	*********************/
	img {
		max-width: 100%;
		height: auto;
	}
	.featured {
		margin-top: 5%;
	}
	.load-more-post {
		padding: 10px 5px 0;
		clear: both;
	}

	/*article tolonews*/
	.post-tolonews {
		padding-bottom: 0;
		margin-bottom: 0;

		.tag-category {
			bottom: 0;
		}
		.post-date {
			display: inline;
		}
		&.bar-bottom {
			border-bottom: 0;
		}
		.title-article {
			padding-top: 0;
		}
		&.small-column {
			margin-top: 0;
			margin-bottom: 0;

			img {
				width: 100%;
			}
			.content-article {
				@include padding-left(0);
				max-width: 47.1% !important;
			}
		}
		&.vertical-bloc {
			.content-article {
				margin: 0;
			}
		}
		.container-image {
			width: 42% !important;
			@include margin-right(10px);
			display: inline-block;
			vertical-align: middle;
			border: 0 none !important;
		}
		.content-article {
			@include padding-left(0);
			display: inline-block;
			width: 52.1% !important;
			vertical-align: middle;
			margin-top: 0;

			h3, h4 {
				font-size: pxtoem(14);
				font-family: $HelveticaNeueMedium;
				line-height: normal;
				display: inline;

				a {
					color: $grey-dark1;
				}
			}
		}
	}
	.top-post-tolonews {
		img {
			width: 100%;
			height: auto;
			max-width: 100%;
		}
		.post-date {
			display: inline;
		}
		.title-top-post-tolonews {
			line-height: 24px;
		}
	}

	/*********************
			WATCH
	*********************/
	.row-watch-tolo {
		padding-top: 7%;

		.video-thumbnail {
			margin-bottom: 15px;
		}
		.thumbs-watch-tolo {
			h3 {
				margin: 2% 0 0 0;
			}
		}
		.content-article {
			p, .post-date {
				display: inline;
			}
		}
		.video {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	/*********************
			WORLD
	*********************/
	.four-col.twoo-col-ontablets {
		li {
			width: 100%;

			&:nth-child(2) {
				@include margin-right(0);
			}
		}
	}

	/************************************
			POST FULL WIDTH MOBILE
	************************************/
	.full-width-col-mobile.post {
		.one-col, .two-col, .three-col, .four-col {
			width: 100%;
		}
	}
	.grey-dark.row {
		margin: 5% 0 11% 0;

		&.wrapper {
			margin: 0;
		}
	}
	.equal-top-pub {
		margin-top: 0;
	}

	/******************************
		Weather only MOBILE
	******************************/
	body .box-weather div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
		background-position: -45px center !important;
	}
	.box-weather {
		min-height: 158px;
		margin-top: 0;

		.aw-current-weather-inner {
			padding-top: 0 !important;
		}
		.container-weather {
			text-align: left;
			height: auto;
			width: auto;
			padding: 0 15px;

			.picto {
				width: 40px;
				position: relative;
				height: auto;
				padding: 0;

				img {
					margin-top: 6px;
				}
			}
			.image-weather {
				width: 100%;
				height: auto;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.pays-title {
			display: block;
			margin-top: -27px;
			text-align: center;
		}
		.value {
			position: absolute;
			right: 20px;
			top: 18px;
		}
	}
	.content-top-post-tolonews {
		@include padding-right(14px);
		@include padding-left(14px);

		.tag-category {
			margin: 30px 0;
		}
		h2 {
			font-size: pxtoem(20) !important;
			margin: 10px 0 !important;
		}
	}
	.news-bar {
		margin-bottom: 0;

		&.latest {
			background: $grey-dark;
			top: 80px !important;
		}
	}
	.video-content {
		iframe {
			width: 100%;
			max-width: 100%;
		}
	}
	.pager {
		margin-bottom: 0;

		.pager-last {
			span {
				display: inline-block;
				text-indent: -999px;
			}
			&.previous {
				@include float(left);
				padding-top: 3%;
			}
			&.next {
				@include float(right);
				padding-top: 3%;
			}
		}
	}
	.share-buttons.social-media {
		bottom: 30px;
		left: 0;
		padding-bottom: 45px !important;
		position: fixed;
		width: 100%;
		z-index: 57;
		border: 0 !important;

		li {
			@include margin-right(3%);
			display: none !important;

			.fa.commenting-o {
				width: 55px;
				border-radius: 0;
				height: 65px;
				background: url(../images/btn-share.png) 0 -953px  no-repeat transparent !important;
			}
			span.stButton .stLarge {
				height: 55px;
				width: 55px;
			}
			span.st_facebook_large .stLarge {
				background-position: 0 -533px !important;
			}
			span.st_twitter_large .stLarge {
				background-position: 0 -610px !important;
			}
			span.st_email_large .stLarge {
				background-position: 0 -782px !important;
			}
			span.st_reddit_large .stLarge {
				background-position: 0 -879px !important;
			}
			span.st_linkedin_large .stLarge {
				background-position: 0 -1153px !important;
			}
			span.st_tumblr_large .stLarge {
				background-position: 0 -687px !important;
			}
			span.st_googleplus_large .stLarge {
				background-position: 0 -1055px !important;
			}
			&.comments {
				display: none !important;
			}
			&.list-icons {
				display: none !important;
				width: 100%;

				li {
					width: 16%;
					margin-bottom: 3%;
				}
			}
			&.btn-social {
				bottom: 0;
				left: 43%;
				position: absolute;
				width: 20%;
				display: inline-block !important;
				background: rgba(0, 0, 0, 0) url("../images/btn-share.png") no-repeat scroll 0 -338px !important;

				i {
					display: none;
				}
			}
			a {
				@include margin-right(0);

				span {
					display: none;
				}
				i {
					margin: 0;
				}
			}
			&.list {
				@include margin-right(0);

				ul {
					span {
						display: inline-block;
						@include margin-left(5px);
					}
				}
			}
		}
		&.open {
			li {
				display: inline-block !important;
				width: 100%;
				text-align: center;

				&.comments {
					display: none !important;
				}
				&.btn-social {
					background: rgba(0, 0, 0, 0) url("../images/btn-share.png") no-repeat scroll 0 -402px !important;
				}
			}
		}
	}
	.category-title {
		font-size: 2rem;
		margin: 5% 0 6% 0;

		span {
			display: block;
			font-size: 1.5rem;
			margin: 5px 0;
		}
	}
	.list-post {
		li.one-col {
			margin-bottom: 20px;
		}
	}
	.title-category {
		font-size: 1rem;
	}
	.row-video {
		margin-bottom: 0;
	}

	/**box-programlive**/
	.box-programlive {
		border-width: 5px;
		margin-top: 15%;
		margin-bottom: 15%;
		padding-bottom: 5%;

		.page-title {
			margin-top: -15px;
			margin-bottom: 14%;

			h1 {
				font-size: 1.5rem;

				.live {
					padding: 2px 5px;
					font-size: 0.75rem;
					margin-top: 0;
					margin-bottom: 0;
					@include margin-left(17px);
					@include margin-right(0);

					.fa-video-camera {
						color: $red4;
						@include padding-right(10px);
					}
				}
			}
		}
	}

	/*******************
			footer
	*******************/
	footer {
		border: 0 none;

		.col-newsletter {
			margin-top: 6%;
		}
		.media {
			text-align: center;
		}
		.nav-copyright li {
			text-align: center;

			&:first-child, &:last-child {
				text-align: center;
			}
			ul {
				li:after {
					width: 5px;
				}
			}
		}
	}
	.share-buttons.social-media {
		span.stButton {
			.stLarge:after {
				display: none;
			}
		}
	}
}
