// -----------------
// Compass utilities
// -----------------

// ---------
// Variables
// ---------

@import "partials/base";
@import "partials/mixin";

// --------
// Layout
// --------
@media screen and (min-width:768px) and (max-width:1024px) and (orientation : portrait) {
	@import 'responsive-header-smartphone';
.navigation-sticky {

        &.fixed2 {
            top:0;

        }
    }
	.inner-container {
		@include padding-right(20px);
		@include padding-left(20px);
	}
	.wrapper .show-onlytablets {
		display: inline-block;
	}
	.hidden-ontablets {
		display: none;
		padding: 0;
		visibility: hidden;
	}
	.full-width-col-tablets {
		float: none;
		@include margin-right(0);
		@include margin-left(0);
		width: 100%;
		display: block;
	}
	.full-width-col-tablets.right-col {
		float: none;
	}
	.marginRow, .twoo-column-tablets {
		margin-bottom: 4.7%;
	}
	.two-col .one-col {
		width: 48.6923%;
		@include margin-right(2.61538%);

		&.last-col {
			@include margin-right(0);
		}
	}
	.group-top {
		display: block;
	}

	/***************
		HEADER
	****************/
	header .group-middle .logo {
		width: 60px;
	}
	nav {
		.navbar-nav {
			li {
				padding-bottom: 1.6%;

				a {
					font-size: 13px;
					font-size: pxtoem(13);
				}
			}
		}
	}
	#wrapper {
		.news-bar {
			.news {
				padding-top: 0;
				padding-bottom: 0;
				@include padding-right(65px);
				@include padding-left(0);

				.latest {
					background: $black;
					float: none;
					text-transform: uppercase;
					@include margin-right(15px);
					padding: 2.5%;
					vertical-align: middle;
					font-size: 17px;
					font-size: pxtoem(17);
					display: inline-block;
				}
				p {
					display: inline-block;
					float: none;
					vertical-align: middle;
				}
			}
		}
	}

	/*********************
		ARTICLES TOLO
	*********************/
	.post-tolonews {
		img {
			width: 100%;
			height: auto;
		}
		&.medium-column {
			.container-image {
				display: inline-block;
				max-width: 42%;
				vertical-align: middle;
			}
			.title-article {
				font-size: pxtoem(15);
			}
			.content-article {
				display: inline-block;
				line-height: 16px;
				max-width: 47.1%;
				@include padding-left(13px);
				vertical-align: middle;
			}
		}
	}
	.top-post-tolonews {
		.part-right {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	/*********************
			WATCH
	*********************/
	.box-medium-video .video {
		padding: 4% 4.8%;
	}
	.row-watch-tolo {
		padding-bottom: 2%;
		padding-top: 4%;

		.thumbs-watch-tolo {
			h3 {
				margin-bottom: 2%;
			}
			li.post-tolonews.video-thumbnail {
				display: inline-block;
				vertical-align: top;
				width: 47%;
				@include margin-right(2%);

				&:nth-child(2) {
					@include margin-right(0);
				}
			}
		}
		.video {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	/*********************
			WORLD
	*********************/
	.four-col.twoo-col-ontablets {
		li {
			width: 48.4%;

			&:nth-child(2) {
				@include margin-right(0);
			}
		}
	}

	/*********************
			SOCIAL
	*********************/
	.row-social-tolo {
		padding-top: 4%;

		li {
			width: 19.5%;
			vertical-align: top;
			text-align: center;
			@include margin-right(0);

			&.last {
				@include margin-right(0);
			}
			a {
				text-align: center;
				@include padding-right(0);
				height: auto;
				font-size: 1.1rem;

				i {
					margin: 0 auto;
					@include margin-right(5px);
					display: block;
					width: 40px !important;
					height: 40px !important;
					line-height: 40px !important;
				}
			}
		}
	}
	.box-photo-right {
		img {
			width: 100%;
			height: auto;
		}
	}

	/* 2BLOCK INLINE TABLETS

	    width: 48.6923%;
	    margin-right: 2.61538%;

	    */
	.twoo-column-tablets {
		width: 48.2923%;
		margin-top: 0;
		@include margin-right(2.61538%);
		display: inline-block;
		vertical-align: top;

		&.last {
			@include margin-right(0);
		}
		&.box.pub {
			padding: 3% 0;
			text-align: center;
			background: $grey-box;
			margin-top: 25px;
		}
	}

	/*VIDEO PAGES*/
	.video-content {
		iframe {
			width: 100%;
		}
	}
	.right-col-tablets {
		@include float(right);
	}
	.inline-three-column {
		.column {
			width: 48.6923%;
			@include margin-right(2.61538%);
			margin-bottom: 20px;

			&:nth-child(3) {
				@include margin-right(0);
			}
			&.box-tolonews-program {
				@include margin-left(2.61538% !important);
				@include margin-right(0 !important);
			}
		}
	}
	.single-post {
		.one-col {
			width: 47.6923%;
			@include margin-right(4.61538% !important);


			&:nth-child(2n+2) {
				@include margin-right(0 !important);
			}
		}
		.container-image {
			display: inline-block;
			vertical-align: middle;
			width: 42%;
		}
		.content-article {
			display: inline-block;
			vertical-align: middle;
			line-height: 16px;
			@include padding-left(2.8%);
			max-width: 51.7%;
			letter-spacing: -0.5px;
		}
	}

	/*************
	video-program
	**************/
	.tv-program {
		margin-bottom: 40px;

		.video-content {
			width: 70%;
			@include float(right);
			@include margin-left(20px);
		}
		h3 {
			margin: 12px 0 10px 0;
			font-size: 2.2rem;
		}
	}
	.video-program-list {
		.post-tolonews {
			display: block;
			margin-bottom: 15px;
			@include padding-right(0);
			width: 100%;
			@include margin-right(0);
			border-bottom: 2px solid $grey-light;

			&:last-child {
				border: 0;
			}
			.container-image {
				display: inline-block;
				max-width: 38%;
				vertical-align: middle;
			}
			.content-article {
				display: inline-block;
				@include margin-left(3%);
				margin-top: 10px;
				vertical-align: middle;
				width: 57.7%;
			}
		}
	}

	/***************
		PAGINATION
	****************/
	.pager li.previous {
		@include float(left);
	}
	.pager li.next {
		@include float(right);
	}

	/********************
		SOCIAL COMMON
	*********************/
	.social-sidebar {
		h3 {
			border-color: $grey-light;
		}
		.social-content {
			background: $grey-box;
			padding: 6%;

			.box-social {
				background: $grey-dark;
				margin: 4% 0;
			}
		}
	}

	/***************
		sidebarRight
	****************/
	.sidebarRight {
		margin-top: 0;

		&.with-margin {
			margin-top: 1%;
		}
		.box.equal-top-pub.twoo-column-tablets.last {
			padding: 3% 0;
			text-align: center;
			background: $grey-dark5;
			margin-top: 25px;
		}
		.social-sidebar {
			h3 {

				/*border-color: $grey-dark;*/
			}
			.social-content {
				background: $grey-dark5;

				.box-social {
					background: $grey-dark;
				}
			}
		}
	}
	.page-single {
		.sidebarRight {
			.box.grey-box {
				background: $grey-box !important;
			}
			.social-sidebar .social-content {
				background: $grey-box;
			}
		}
	}
	.box-tolonews-program {
		margin-top: 0;
	}

	/***************
		BLOC SHARE
	****************/
	.share-buttons.social-media {
		li {
			@include margin-right(4%);
		}
	}
	.row-video {
		margin-bottom: 0;
	}
	.two-col {
		&.archive {
			margin-top: 5%;
		}
	}

	/**box-programlive**/
	.box-programlive {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	/***************
		FOOTER
	****************/
	footer {
		border: 0 none;

		.footer-section {
			padding: 8% 20px;
		}
		.footer-nav {
			width: 50.8%;
		}
		.col-newsletter {
			width: 45.31313%;
		}
		.one-col.media {
			width: 100%;
			float: none;
		}
		.social-media {
			display: inline-block;
			padding-top: 18px;
			vertical-align: top;
			margin-bottom: 6%;
			width: auto;
			@include margin-left(24px);
		}
		.nav-copyright {
			.one-col {
				width: auto;
				@include margin-left(7.03031%);

				&:first-child {
					@include margin-left(0);
				}
				&.last-col {
					@include float(right);
				}
			}
		}
	}
}