// ---------
// Variables
// ---------
@import "partials/base";
@import "partials/mixin";

/********************************
	COMMON POST TITLE CATEGORY
********************************/
.wrapper {
	&.wrapper-TvLive {
		footer {
			margin-top: 0;
		}
	}
	&.dark-tv-pages {
		background: $grey-dark;

		.video-content {
			position: relative;

			.play {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				margin: auto;
				width: 50px;
				height: 50px;
			}
			&.tv-live {
				margin-bottom: 5%;
				margin-top: 3.5%;
			}
		}
		.post-tolonews {
			.content-article {
				margin-top: 12px;

				a {
					color: $white;
				}
				h4 {
					color: $white;
					font-family: $HelveticaNeueLight;
					font-size: 14px;
					font-size: pxtoem(14);
					margin-bottom: 8px;
					line-height: 18px;
				}
			}
		}
		.social-content {
			background: $grey-dark5;
		}

		/*SINGLE*/
		.post-single {
			.title-top-post-tolonews {
				a {
					color: $white;
				}
			}
			&.top-post-tolonews {
				.intro {
					p {
						color: $white;
					}
				}
			}
			.entry-summary {
				color: $white;
			}
			p {
				color: $white;
			}
		}

		/*TV PROGRAM*/
		.video-program {
			margin-bottom: 50px;
		}

		/****************
		TWITTER WIDGET
		****************/
		.box-tolo-twitter {
			color: $white;

			.twitter-feed {
				background: $grey-dark5;
				padding: 0 12px;
				border-bottom: 2px solid $grey-light;
			}
		}
		.sidebarRight {
			margin-top: -22px;

			.box.pub {
				padding: 1.6%;
				background: $grey-dark5;
			}
		}
		footer {
			margin-top: 2%;
			border-top: 1px solid $grey-light2;
		}
	}
}