//
// Set the floats && direction.this is the default for LTR languages
//

$default-float: left;
$opposite-float: right;
$default-direction: ltr;
$opposite-direction: rtl;


//
// Import the main style
//

@import "_common.scss";
@import "_responsive-tablet-portrait.scss";
@import "_responsive-smartphone.scss";

[dir="rtl"] .news-bar {
  background: $black; /* Old browsers */
  background: -moz-linear-gradient(right, $grey-dark 0%, $grey-dark 54%, $black 71%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(right, $grey-dark 0%, $grey-dark 54%, $black 71%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $grey-dark 0%, $grey-dark 54%, $black 71%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#3b3f42', GradientType=1);

  /* IE6-9 */
  &.breaking {
    background: $black; /* Old browsers */
    background: -moz-linear-gradient(right, $red 0%, $red 54%, $black 71%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(right, $red 0%, $red 54%, $black 71%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $red 0%, $red 54%, $black 71%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#df2027', GradientType=1); /* IE6-9 */
  }
}

[dir="rtl"] .navbar-toggle {
  background-position: right top;
}
.fa-angle-right {
  display: inline;
  margin-left: 5px;
}
[dir="rtl"] .fa-angle-right {
  margin-right: 5px;
}
[dir="rtl"] .fa-angle-right:before {
  content: "\f104";
}
[dir="rtl"] .fa-angle-left:before {
  content: "\f105";
}
[dir="rtl"] #wrapper {
  transition: left 0.5s ease 0s;
}
[dir="rtl"] header .container-herder.open {
  display: block;
  transition: left  0.5s ease 0s !important;
}

[dir="rtl"] .logo {
  transition: right 0.5s ease 0s !important;
}
[dir="rtl"] .news-bar {
  transition: right 0.5s ease 0s !important;
}
[dir="rtl"] .container-header {
  transition: left 0.5s ease 0s !important;
}
[dir="rtl"] .navigation-sticky {
  &.is-fixed {
    .header-right {
      .search {
        position: absolute;
        left: -42px;
        right: auto !important;
      }
    }
  }
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold !important;
  font-style: normal;
}
[dir="rtl"] header .group-middle .top-navigation {
  text-align: left;
}


#toolbar-bar {
  width: 100%;
}
.toolbar-fixed.toolbar-horizontal {
  &.toolbar-tray-open header .navigation-sticky.is-fixed {
    top: 75px;
  }
  header .navigation-sticky.is-fixed {
    top: 35px;
  }
}
