//
// Set float && direction, this is the default for RTL languages
//

$default-float: right;
$opposite-float: left;
$default-direction: rtl;
$opposite-direction: ltr;

//
// Import the main style
//

@import "_common.scss";
@import "_responsive-tablet-portrait.scss";
@import "_responsive-smartphone.scss";



.news-bar {
    background: $black; /* Old browsers */
    background: -moz-linear-gradient(right, $grey-dark 0%, $grey-dark 54%, $black 71%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(right, $grey-dark 0%, $grey-dark 54%, $black 71%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $grey-dark 0%, $grey-dark 54%, $black 71%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#3b3f42', GradientType=1);

    /* IE6-9 */
    &.breaking {
        background: $black; /* Old browsers */
        background: -moz-linear-gradient(right, $red 0%, $red 54%, $black 71%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(right, $red 0%, $red 54%, $black 71%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $red 0%, $red 54%, $black 71%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#df2027', GradientType=1); /* IE6-9 */
    }
}
.navbar-toggle {
    background-position: right top;
}
.fa-angle-right:before {
    content: "\f104";
}
.fa-angle-left:before {
    content: "\f105";
}
#wrapper {
    transition: left 0.5s ease 0s;
}
header .container-herder.open {
    display: block;
    transition: left  0.5s ease 0s !important;
}

.logo {
    transition: right 0.5s ease 0s !important;
}
.news-bar {
    transition: right 0.5s ease 0s !important;
}
.container-header {
    transition: left 0.5s ease 0s !important;
    }
.navigation-sticky {
    &.is-fixed {
        .header-right {
            .search {
                position: absolute;
                left: -42px;
                right: auto !important;
            }
        }
    }
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold !important;
  font-style: normal;
}
header .group-middle .top-navigation {
    text-align: left;
}
