{#
/**
 * @file
 * Template for a homepage layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout.
 */
#}
<div class="panel-display panel-homepage clearfix" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="visible-onlymobile">
    {{ content.topmobile }}
  </div>
  <div class="inner-container">
    <div class="row clearfix">
      <div class="two-col full-width-col-mobile full-width-col-tablets">
        {{ content.topleft }}
      </div>
      <div class="one-col full-width-col-tablets full-width-col-mobile last-col">
        {{ content.topright }}
        <div class="equal-top box-video hidden-onmobile twoo-column-tablets">
          {{ content.topright_6pm }}
        </div>
        <div class="box grey-box equal-top-pub twoo-column-tablets last pub">
          {{ content.topright_add }}
        </div>
      </div>
    </div>
  </div>
  <div class="row grey-dark marginRow">
    <div class="inner-container row-watch-tolo">
      <div class="container-top-post line line-grey clearfix">
        <h2 class="title-category  uppercase-txt">{{ 'Watch'|t }}</h2>
        <a href="#" title="{{ 'View all video'|t }}" class="view-all-post grey-light5">{{ 'View all video'|t }}</a>
      </div>
      {{ content.watch }}
    </div>
  </div>
  <div class="row">
    <div class="inner-container">
      <div class="one-col full-width-col-tablets hidden-onmobile">
        <div class="list-item-widget twoo-column-tablets bar-bottom">
          <ul class="tabulations-tolo container-top-post no-margin line-red red">
            <li class="titleBlock uppercase-txt">
              <a href="#most-readed">{{ 'Most read'|t }}</a>
            </li>
            <li class="grey-light5 uppercase-txt">
              <a href="#most-watched">{{ 'Most watched'|t }}</a>
            </li>
          </ul>
          {{ content.mostreadandwatched }}
        </div>
        <div class="box-weather twoo-column-tablets last">
          {{ content.weather }}
        </div>
      </div>
      <div class="two-col last-col full-width-col-tablets full-width-col-mobile">
        {{ content.business }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="inner-container">
      <div class="one-col last-col full-width-col-tablets right-col full-width-col-mobile">
        <div class="currency bar-bottom twoo-column-tablets hidden-onmobile">
          {{ content.currencyandad }}
        </div>
        <div class="box equal-top-pub pub grey-box twoo-column-tablets last">
          {{ content.addaftercurrency }}
        </div>
      </div>
      <div class="two-col full-width-col-tablets full-width-col-mobile">
        {{ content.sport }}
      </div>
      <div class="four-col twoo-col-ontablets last-col marginRow">
        {{ content.world }}
      </div>
    </div>
  </div>
  <div class="row grey-dark marginRow hidden-onmobile">
    <div class="inner-container row-social-tolo">
      {{ content.social }}
    </div>
  </div>
  <div class="row marginRow">
    <div class="inner-container">
      <div class="one-col full-width-col-tablets">
        <div class="twoo-column-tablets hidden-onmobile">
          {{ content.poll }}
        </div>
        <div class="box-tolonews-program bar-bottom hidden-onmobile twoo-column-tablets last">
          <h3 class="line green uppercase-txt line-green">Tolonews Schedule</h3>
          <ul class="green-light">
            <li class="active">
              <div class="tolo-title"> <span class="Boldtitle">
                                        <span class="red">On air</span> <span> World Update</span> </span> <span class="time">09:05 - 11:00 GMT</span>
              </div>
              <p>Jordan tackles Islamists; 19 countries in 24h; a four day working week? </p>
            </li>
            <li class="active">
              <div class="tolo-title"> <span class="Boldtitle">
                                        <span class="red">To follow </span> <span> TOLO News</span> </span> <span class="time">11:00 - 11:05 GMT</span>
              </div>
              <p>The lastest five minute news bulletin from Tolo News</p>
            </li>
            <li class="active">
              <div class="tolo-title"> <span class="Boldtitle">
                                        <span> World Update</span> </span> <span class="time">11:30 - 11:55 GMT</span>
              </div>
              <p>Jordan tackles Islamists; 19 countries in 24h; a four day working week? </p>
            </li>
            <li>
              <div class="tolo-title"> <span class="Boldtitle">
                                        <span> World Update</span> </span> <span class="time">11:30 - 11:55 GMT</span>
              </div>
              <p>Jordan tackles Islamists; 19 countries in 24h; a four day working week? </p>
            </li>
            <li>
              <div class="tolo-title"> <span class="Boldtitle">
                                        <span class="red">On air</span> <span> World Update</span> </span> <span class="time">09:05 - 11:00 GMT</span>
              </div>
              <p>Jordan tackles Islamists; 19 countries in 24h; a four day working week? </p>
            </li>
            <li>
              <div class="tolo-title"> <span class="Boldtitle">
                                        <span class="red">To follow </span> <span> TOLO News</span> </span> <span class="time">11:00 - 11:05 GMT</span>
              </div>
              <p>The lastest five minute news bulletin from Tolo News</p>
            </li>
            <li class="schedule-link"> <a class="tolo-link green" rel="nofollow">View Today's schedule</a> </li>
          </ul>
        </div>
        {#ToDo: Add real SCHEDULE block.#}
        {#<div class="box-tolonews-program bar-bottom hidden-onmobile twoo-column-tablets last">#}
          {#{{ content.schedule }}#}
        {#</div>#}
      </div>
      <div class="two-col full-width-col-tablets last-col hidden-onmobile box-photo-right">
        {{ content.photosoftheday }}
      </div>
    </div>
  </div>
  <div class="row hidden-onmobile">
    <div class="inner-container fullWidth-pub  marginRow centered">
      {{ content.bottomad }}
    </div>
  </div>
  <div class="row">
    <div class="inner-container">
      {{ content.opinionsandtwitter }}
    </div>
  </div>
</div>