// --------------------------------
// Common properties to all buttons
// --------------------------------

/*********************
SOCIAL BTN
*********************/
.social-media {
    .fa {
        color: #fff;
        content: "";
        border: 1px solid #6c6f71;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        display: inline-block;
        @include transition(all 175ms ease);

        &:hover {
            background: #fff;
            color: #3b3f42;
        }
        &.small-picto {
            border-radius: 40px;
            height: 40px;
            width: 40px;
            line-height: 40px;
        }
        &.meduim-play {
            border-radius: 45px;
            height: 45px;
            width: 45px;
            line-height: 45px;
        }
        &.very-small-picto {
            border-radius: 30px;
            height: 30px;
            width: 30px;
            line-height: 30px;
        }
    }
}

/*********************
PLAY VIDEO BTN
*********************/
.fa.fa-play {
    cursor: pointer;
    color: $white;
    text-align: center;
    border-width: 2px;
    border-color: $white;
    border-style: solid;
    font-size: 25px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    width: 50px;
    @include padding-left(5px);

    &.small-play {
        border-width: 2px;
        border-radius: 30px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        width: 30px;
    }
    &.big-play {
        border-width: 6px;
        @include padding-left(10px);
        font-size: 45px;
        height: 98px;
        line-height: 98px;
        width: 93px;
    }
}

/*********************
ICON ARTICLE
*********************/
.icon-post {
    height: 18px;
    width: 25px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/sprite.png) no-repeat;

    &.icon-news {
        background-position: 6px -5px;
    }
    &.icon-video {
        background-position: 6px -26px;
    }
}
.share-buttons .fa-plus::before {
    content: "+";
}
