
@mixin float($dir) {
  @if $dir == left {
    float: $default-float;
    [dir="rtl"] {
      float: $opposite-float
    }
  }
  @else if $dir == right {
      float: $opposite-float;
      [dir="rtl"] {
        float: $default-float;
      }
  } @else {
      float: $dir;
  }
}

@mixin text-align($dir) {
  @if $dir == left {
    text-align: $default-float;
    [dir="rtl"] {
      text-align: $opposite-float
    }
    } @else if $dir == right {
      text-align: $opposite-float;

    [dir="rtl"] {
      text-align: $default-float
    }
    } @else {
      text-align: $dir;
  }
}
@mixin padding-left($unit) {
  padding-#{$default-float}: $unit;
  [dir="rtl"] {
    padding-#{$opposite-float}: $unit;
  }
}

@mixin padding-right($unit) {
  padding-#{$opposite-float}: $unit;
  [dir="rtl"] {
    padding-#{$default-float}: $unit;
  }
}

@mixin margin-left($unit) {
  margin-#{$default-float}: $unit;
  margin-#{$opposite-float}: 0;
  [dir="rtl"] {
    margin-#{$opposite-float}: $unit;
    margin-#{$default-float}: 0;
  }
}

@mixin margin-right($unit) {
  margin-#{$opposite-float}: $unit;
  margin-#{$default-float}: 0;
  [dir="rtl"] {
    margin-#{$default-float}: $unit;
    margin-#{$opposite-float}: 0;
  }
}
@mixin right($unit) {
  #{$opposite-float}: $unit;
  #{$default-float}: inherit;
  [dir="rtl"] {
    #{$opposite-float}: inherit;
    #{$default-float}: $unit;
  }
}
@mixin left($unit) {
  #{$default-float}: $unit;
  #{$opposite-float}: inherit;
  [dir="rtl"] {
    #{$default-float}: inherit;
    #{$opposite-float}: $unit;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:before {
    content: "";
    display: table;
  }
}
// mixin placeholder
@mixin placeholder {
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
}
// mixin placeholder focus
@mixin placeholder-focus {
  &:focus:-moz-placeholder {
    @content;
  }
  &:focus::-moz-placeholder {
    @content;
  }
  &:focus::-webkit-input-placeholder {
    @content;
  }
  &:focus:-ms-input-placeholder {
    @content;
  }
}

/* function convert px to em */
@function pxtoem($var) {
  @return ($var / $base-font) + rem;
}
