/************
    FOOTER
*************/
footer {
  color: $white;
  margin-bottom: 0 !important;

  .footer-section {
    padding: 3% 0 0 0;
  }
  .one-col {
    margin-top: 0;
  }
  h4 {
    font-family: $HelveticaNeueMedium;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-size: pxtoem(20);
  }
  a {
    color: $grey-light6;
    @include transition(all 175ms ease);
    
    &:hover {
      color: $white;
    }
  }
  .media {
    img {
      max-width: 100%;
    }
    .social-media li {
      width: auto;

      a {
        i {
          @include margin-right(5px);
        }
      }
    }
  }
  .footer-nav {
    display: inline-block;
    width: 33.8%;
    @include margin-right(3.03031%);
    vertical-align: top;

    ul li {
      line-height: 23px;
    }
    .inline-columnFooter {
      display: inline-block;
      width: 54%;
      vertical-align: top;

      &.last {
        width: 44%;
      }
    }
  }
  .nav-copyright {
    color: $grey-light6;
    margin: 4.04% 0;

    li {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      font-size: 0.6875rem;

      &:first-child {
        @include text-align(left);
      }
      &:last-child {
        @include text-align(right);
      }
    }
    > li {
      ul li {
        display: inline-block;

        &:after {
          display: inline-block;
          width: 18px;
          content: "-";
          text-align: center;
        }
        &:last-child:after {
          content: "";
          width: 0;
        }
      }
    }
  }
}
.col-newsletter {
  display: inline-block;
  vertical-align: top;
  width: 31.31313%;

  p {
    margin-bottom: 4.21%;
    color: $grey-light6;
    letter-spacing: -0.45px;
  }
  form {
    margin-bottom: 12.21%;
  }
  input[type="email"] {
    font-size: 0.68rem;
    border: 1px solid $white;
    background: 0 none;
    width: 79%;
    height: 34px;
    padding: 0 10px;
    vertical-align: top;
    color: $white;
  }
  input[type="submit"] {
    cursor: pointer;
    font-size: 0.875rem;
    text-transform: uppercase;
    background: 0 none $red;
    width: 35px;
    height: 35px;
    line-height: 34px;
    padding: 0 5px;
    -webkit-appearance: none;
    outline: none;
    color: $white;
    border: 0 none;
    text-align: center;
  }
  ul.post-numbers li {
    display: inline-block;
    @include margin-right(9.64%);

    span {
      display: block;
      color: $grey-light6;

      &.numbers {
        color: $white;
        font-size: 20px;
        font-size: pxtoem(20);
        line-height: normal;
        font-family: $HelveticaNeueMedium;
      }
    }
  }
}
