@import "partials/base";
@import "partials/mixin";
@keyframes myship
                {
                from {top: 130px;}
                to{top:0px;}
                }
                @-moz-keyframes myship
                {
                from {top: 130px;}
                to{top:0px;}
                }
                @-webkit-keyframes myship
                {
                from {top: 130px;}
                to{top:0px;}
                }
@keyframes myshipp
                {
                from {top: 0px;}
                to{top:130px;}
                }
                @-moz-keyframes myshipp
                {
               from {top: 0px;}
                to{top:130px;}
                }
                @-webkit-keyframes myshipp
                {
                from {top: 0px;}
                to{top:130px;}
                }
header {
    width: 100%;
    height: auto;
    background: $grey-dark;
    position: absolute;
    z-index: 55;

    .navigation-sticky {
        // position: fixed;
        width: 100%;
        &.fixed {
            position: fixed;
            top: 0;
            z-index: 1000;
            width: 100%;
            -moz-animation:myship 0.1s; /* Firefox */
            -webkit-animation:myship 0.1s; /* Safari and Chrome */
        }
        &.fixed2 {
            top:130px;
            -moz-animation:myshipp 0.1s; /* Firefox */
            -webkit-animation:myshipp 0.1s; /* Safari and Chrome */
        }
        .logo-fixed {
            display: none;
        }
        &.is-fixed {
            position: fixed;
            top: 0;

            nav {
                width: 86.5%;

                .navbar-nav {
                    padding-top: 23px;
                }
            }
            .logo-fixed {
                display: inline-block;
                @include float(left);
                padding-bottom: 15px;
                @include margin-right(30px);
            }
            .logo {
                width: 60px;
                display: inline-block;
                margin-top: -6px;

                img {
                    width: 60px;
                }
            }
            .header-right {
                position: relative;
                padding: 0;
                margin: 0;

                .top-navigation {
                    display: none;
                }
                .search {
                    position: absolute;
                    right: -42px;
                    background: 0 none;
                    top: 13px;

                    input[type="submit"] {
                        background-color: transparent;
                    }
                    .form-search-header {
                        input[type="text"] {
                            @include float(right);
                            opacity: 0;
                            width: 0;
                        }
                        @include transition(all 175ms ease);
                        &:hover {
                            input[type="text"] {
                                @include float(right);
                                width: 80%;
                                opacity: 1;
                                background: $grey-light1;
                                -webkit-transition: width 0.5s ease-in-out, background 0s;
                                transition: width 0.5s ease-in-out, background 0s
                            }
                            input[type="submit"] {
                                background-color: $grey-light1;
                            }
                        }
                    }
                    .focus-input-visible {
                        input[type="text"] {
                            @include float(right);
                            width: 80%;
                            opacity: 1;
                            background: $grey-light1;
                            -webkit-transition: width 0.5s ease-in-out, background 0s;
                            transition: width 0.5s ease-in-out, background 0s
                        }
                        input[type="submit"] {
                            background-color: $grey-light1;
                        }
                    }
                }
            }
        }
    }
    .group-top {
        width: 100%;
        background: $grey-dark;
        padding: 20px 0;

        img {
            width: 728px;
            height: 90px;
            display: block;
            margin: 0 auto;
        }
    }
    .group-middle {
        width: 100%;
        padding: 15px 0 0;
        background: $grey-light;
        position: relative;

        .logo {
            width: 10.1%;
            @include float(left);
            @include margin-right(3%);
            @include transition(width 0.3s);
            img {
                width: 91px;
                height: auto;
            }
        }
        .header-right {
            @include float(left);
            width: 86.7%;
            margin-bottom: 3%;
            margin-top: 1%;
        }
        .search {
            width: 36%;
            height: 35px;
            @include float(left);
            background: $grey-light1;

            input[type="text"] {
                border: none;
                height: 35px;
                padding-top: 0;
                padding-bottom: 0;
                @include padding-right(0);
                @include padding-left(5%);
                width: 80%;
                background: transparent;
                outline: 0;
                color: $grey-dark1;
                @include float(left);
            }
            input[type="submit"] {
                border: none;
                height: 35px;
                width: 15%;
                background: transparent;
                outline: 0;
                color: $grey-dark1;
                @include float(right);
                background: rgba(212, 212, 212, 0.4) url(../images/loop.svg) center 12px no-repeat;
                background-size: 30%;
                text-indent: -9999px;
                padding-top: 0;
                padding-bottom: 0;
                @include padding-right(5%);
                @include padding-left(0);
                cursor: pointer;
            }
        }
        .top-navigation {
            width: 355px;
            @include float(right);
            font-size: 12px;
            font-size: pxtoem(12);

            ul {
                padding-top: 6px;
                height: 20px;
                border-right: 1px solid rgba(212, 212, 212, 0.4);
                display: inline-block;

                + ul {
                    border: none;

                    li {
                        @include float(left);
                        margin: 0;
                        @include margin-left(21px);
                    }
                }
                li {
                    @include float(left);
                    @include margin-right(21px);
                }
            }
        }
        .watch-link {
            display: block;
            color: $red;
            font-size: 17px;
            font-size: pxtoem(17);
        }
        a.watch-link span {
            padding: 4px 8px;
            color: $white;
            font-size: 13px;
            font-size: pxtoem(13);
            background: $red;
        }
    }
}
.bar-container {
    position: relative;
    height: 50px;
}
.news-bar {
    width: 100%;
    background: $black; /* Old browsers */
    background: -moz-linear-gradient(left, $black 0%, $black 54%, $grey-dark 71%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $black 0%, $black 54%, $grey-dark 71%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $black 0%, $black 54%, $grey-dark 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#3b3f42', GradientType=1); /* IE6-9 */
    color: $white;
    font-size: 17px;
    font-size: pxtoem(17);
    line-height: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    z-index: 0;

    .latest {
        background: $black;
        font-family: $HelveticaNeueBold;
        @include float(left);
        text-transform: uppercase;
        @include margin-right(15px);
        @include padding-right(15px);
    }
    a {
        @include float(left);
        color: $white;
    }

    .close {
        @include float(right);
        color: $white;
        font-family: Arial;
        font-size: 19px;
        font-size: pxtoem(19);
        border: 2px solid;
        margin-top: 8px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        line-height: 27px;
    }
    &.breaking {
        background: $black; /* Old browsers */
        background: -moz-linear-gradient(left, $black 0%, $black 54%, $red 71%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $black 0%, $black 54%, $red 71%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $black 0%, $black 54%, $red 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#df2027', GradientType=1); /* IE6-9 */
        position: relative;
        z-index: 1;

        .news {
            background: $red;
            font-family: $HelveticaNeueMedium;
        }

        &.close {
            display: none !important;
        }
    }
    &.latest{
        position: relative;
        display: table;
        top: -50px;
        z-index: -1;
        opacity: 0;
        .news-items {
            overflow: hidden;
            a {
                display: none;
                line-height: 22px;
                padding-top: 14px;
                padding-bottom: 14px;
                &.active {
                    display: inline;
                }
            }
        }
        .news {
            background: $grey-dark  ;
            font-family: $HelveticaNeueMedium;
        }
        &.is-fixed {
            top: 130px;
        }
        &.fixed {
            position: fixed;
            top: 0;
            z-index: 1000;
            -moz-animation:myship 0.3s; /* Firefox */
            -webkit-animation:myship 0.3s; /* Safari and Chrome */
        }
        &.fixed2 {
            top:130px;
            -moz-animation:myshipp 0.2s; /* Firefox */
            -webkit-animation:myshipp 0.2s; /* Safari and Chrome */
        }
    }
}

/***********
    MENU
************/
.navbar-toggle {
    display: none;
    position: relative;
    padding-top: 0px;
    padding-bottom: 5px;
    @include padding-right(5px);
    @include padding-left(30px);
    margin-top: 25px;
    background: rgba(0, 0, 0, 0) url("../images/loop.svg") no-repeat scroll left 5px top / 20px 20px;
    border: 0 none;
    color: $grey-dark1;
    width: auto;
    @include float(right);

    span {
        border-bottom: 2px solid $grey-dark1;
        font-family: $HelveticaNeue;
        font-size: 14px;
        font-size: pxtoem(14);
    }
}
header {
    background: $grey-light;
    padding: 0;
}
nav {
    @include float(left);
    width: 86.5%;

    .navbar-nav {
        li {
            @include float(left);
            @include padding-right(1.02%);
            @include padding-left(1.02%);
            padding-bottom: 2.6%;
            cursor: pointer;

            &:first-child {
                @include padding-left(0);
            }
            &:last-child {
                @include padding-right(0);
                border-bottom: 0 none;

                a {
                    font-family: $HelveticaNeueMedium;
                }
            }
            @include transition(all 175ms ease);
            &:hover {

                /*border-bottom: 3px solid $red;*/
                padding-bottom: 22px;

                a {
                    color: $black;
                }
            }
            a {
                font-size: 17px;
                font-size: pxtoem(17);
                font-family: $HelveticaNeueMedium;
                color: $grey-dark1;
            }
            .dropdown-menu {
                background: $grey-dark;
                left: 0;
                position: absolute;
                width: 100%;
                top: 128px;

                padding: 0;
                z-index: 2;
                max-height: 0;
                min-height: 0;

                overflow: hidden;

                @include transition(all 100ms ease-in-out);
                transition-delay: 100ms;

                &.is-fixed {
                    top: 76px;
                }

                ul.list-post > li {
                    margin: 0 !important;
                    padding: 0 !important;
                    float: left !important;
                    width: 50% !important;
                }

                li {
                    margin-bottom: 0;
                    @include padding-right(0);
                    @include transition(all 175ms ease);

                    &:hover {
                        padding-bottom: 0;
                    }
                }
                h2 {
                    font-size: 56px;
                    font-size: pxtoem(56);
                    margin-bottom: 4%;
                    font-family: $HelveticaNeueBold;
                    letter-spacing: -2px;
                }
                .post-tolonews {
                    border-bottom: 3px solid $grey-dark;
                    padding-bottom: 10px;

                    .container-image {
                        border: 3px solid $grey-dark;
                    }
                    a {
                        color: $white;
                        font-family: $HelveticaNeue;
                        font-size: 14px;
                        font-size: pxtoem(14);
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    .time {
                        color: $white;
                    }
                    @include transition(all 175ms ease);
                    &:hover {
                        border-bottom: 3px solid $red;
                        background: $grey-dark2;

                        .container-image {
                            border: 3px solid $red;
                        }
                        a {
                            color: $white;
                        }
                    }
                }

                .list-menu {
                    li {
                        float: none;
                        padding: 0;
                        margin: 0 0 10px;

                        a {
                            color: $white;
                            font-size: 14px;
                            font-size: pxtoem(14);
                            display: block;
                        }
                        border-bottom: 3px solid $grey-dark;
                        @include transition(all 175ms ease);
                        &:hover {
                            border-bottom: 3px solid $red;

                            a {
                                color: $grey-light7;
                            }
                        }
                    }
                }
            }
            @include transition(all 175ms ease);
            &:hover {
                .dropdown-menu {
                    min-height: 311px;
                    padding: 2% 0;
                    transition-delay: 0ms;
                }
            }
        }
    }
}
header {
    .navigation-sticky.fixed {
        .news-bar {
            display: none;

            &.breaking {
                display: table;
            }
        }
    }
}
