{#
/**
 */
#}
{{ form.messages }}
<div class="poll">
  <div class="vote-form grey-box box-vote bar-bottom">
    {% if show_question %}
      <div class="poll-question title-category">{{ question }}</div>
    {% endif %}

    <ul>
      {% for key, val in form.choice %}
        {#
          If choise key is integer - render it.
          ToDo: find better way (owerride radios to output them in <li>)
        #}
        {% if key matches '/^\\d+$/' %}
          <li>{{ val }}</li>
        {% endif %}
      {% endfor %}
      <li>{{ form.actions }}</li>
    </ul>

  </div>
{{ form|without('actions', 'choice', 'messages', 'question') }}
</div>
