{#
/**
 * @file
 * Default theme implementation to display the poll results in a block.
 *
 * Variables available:
 * - $title: The title of the poll.
 * - $results: The results of the poll.
 * - $votes: The total results in the poll.
 * - $links: Links in the poll.
 * - $nid: The nid of the poll
 * - $cancel_form: A form to cancel the user's vote, if allowed.
 * - $raw_links: The raw array of links.
 * - $vote: The choice number of the current user's vote.
 *
 * @see template_preprocess_poll_results()
 *
 * @ingroup themeable
 */
#}
<div class="poll">
  <div class="grey-box box-vote bar-bottom">
    {% if show_question %}
      <div class="poll-question title-category">{{ question }}</div>
    {% else %}
      <h3 class="poll-results-title">{{ results_title }}</h3>
    {% endif %}
    <dl>
      {{ results }}
    </dl>
  </div>
</div>
