{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<header>
    <div class="group-top hidden-onmobile">
        <div class="inner-container">
            {{ page.banner_top }}
        </div>
    </div>
    <div class="navigation-sticky">
        <div class=" group-middle clearfix">
            <div class="inner-container">
                <div class="logo">
                    <h1>
                        {{ page.logo }}
                    </h1>
                </div>
                <button type="button" class="navbar-toggle">
                    <span>MENU</span>
                </button>
                <div class="container-header">
                    <div class="header-right clearfix">
                        <div class="search">
                            <form class="form-search-header"
                                  accept-charset="UTF-8" method="post"
                                  action="/">
                                <label class="hide"
                                       for="edit-search">Rechercher </label>
                                <input type="submit" class="form-submit"
                                       id="search-submit">
                                <input id="edit-search" type="text"
                                       placeholder="{{ 'Search on TOLOnews'|t }}">
                            </form>
                        </div>
                        <div class="top-navigation clearfix">
                            {{ page.secondary_menu }}
                        </div>
                    </div>
                    {{ page.primary_menu }}
                    <!--  show in mobile    -->
                    <div class="top-navigation clearfix show-in-mobile">
                        {{ page.secondary_menu }}
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <div class="bar-container">
            <div class="news-bar breaking show">
                <div class="inner-container news">
                    <div class="latest">{{ 'Breaking news'|t }}</div>
                    {{ page.breaking_news }} <a href="#" title="" class="close">x</a>
                </div>
            </div>
        </div>
    </div>
    <div class="news-bar latest">
        <div class="inner-container news">
            <div class="latest">{{ 'Latest news'|t }}</div>
            <div class="news-items">
                {{ page.latest_news }}
            </div>
        </div>
    </div>
</header>


<div id="wrapper" class="wrapper clearfix" style="padding-top: 330px;">


    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
        {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
        <aside class="layout-sidebar-first" role="complementary">
            {{ page.sidebar_first }}
        </aside>
    {% endif %}

    {% if page.sidebar_second %}
        <aside class="layout-sidebar-second" role="complementary">
            {{ page.sidebar_second }}
        </aside>
    {% endif %}

    <footer class="row grey-dark">
        <section class="inner-container footer-section">
            <div class="middle">
                <div class="media full-width-col-mobile one-col last-col">
                    {% if page.footer_first_coll %}
                        {{ page.footer_first_coll }}
                    {% endif %}
                </div>
                <div class="footer-nav hidden-onmobile">
                    {% if page.footer_second_coll %}
                        {{ page.footer_second_coll }}
                    {% endif %}
                </div>
                {#ToDo: use commented code insteas of html below.#}
                {#<div class="col-newsletter full-width-col-mobile">#}
                {#{% if page.footer_third_coll %}#}
                {#{{ page.footer_third_coll }}#}
                {#{% endif %}#}
                {#</div>#}
                <div class="col-newsletter full-width-col-mobile">
                    <h4>{{ 'Newsletter'|t }}</h4>
                    <p>{{ 'Sign up to receive the bestof Tolo News daily'|t }}</p>
                    <form method="post" action="#">
                        <label for="email" class="hide">{{ 'Your email address'|t }}</label>
                        <input id="email" type="email" name="email"
                               placeholder="{{ 'Your email address'|t }}">
                        <input type="submit" value="{{ 'ok'|t }}">
                    </form>
                    <ul class="post-numbers hidden-onmobile">
                        <li>
                            <span class="numbers">3057</span><span>{{ 'articles'|t }}</span>
                        </li>
                        <li>
                            <span class="numbers">23864</span><span>{{ 'comments'|t }}</span>
                        </li>
                        <li>
                            <span class="numbers">957400</span><span>{{ 'followers'|t }}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="nav-copyright clearfix">
                <li class="one-col full-width-col-mobile">
                    ©{{ now|date('Y') }} {{ 'Tolo News - All Rights Reserved'|t }}</li>
                <li class="one-col full-width-col-mobile">
                    {% if page.footer_rest %}
                        {{ page.footer_rest }}
                    {% endif %}
                </li>
            </ul>
        </section>
    </footer>
</div>
